@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Company</h2>
        <p><a class="btn btn-default" href="http://localhost:5276/Company/Index">Go &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contract</h2>
        <p><a class="btn btn-default" href="http://localhost:5276/Contract/Index">Go &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Course</h2>
        <p><a class="btn btn-default" href="http://localhost:5276/Course/Index">Go &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Department</h2>
        <p><a class="btn btn-default" href="http://localhost:5276/Department/Index">Go &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Employee</h2>
        <p><a class="btn btn-default" href="http://localhost:5276/Employee/Index">Go &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Position</h2>
        <p><a class="btn btn-default" href="http://localhost:5276/Position/Index">Go &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Wage</h2>
        <p><a class="btn btn-default" href="http://localhost:5276/Wage/Index">Go &raquo;</a></p>
    </div>
</div>
